.accordion {
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0 -15px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding-right: 1rem;

    &__content {
      flex: 1 1 0%;
    }
  }

  &__body {
    box-sizing: border-box;
    padding: 1.5rem;
    background: #fafafa;
    border-radius: 4px;
  }

  &__data {
    transition: max-height 1s ease;
    overflow: hidden;
  }

  .accordian__open {
    max-height: 1000px;
  }

  .accordian__close {
    max-height: 0px;
    transition: max-height 0.5s ease;
  }
}
