.bg-completed {
  background-color: rgba(210, 244, 234) !important;
}

.text-completed {
  color: rgba(26, 161, 121) !important;
}

.fhir-ui__Badge {
  padding: 8px 12px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 12px;
}
