.fhir-ui__Label {
  color: rgb(104, 113, 122);
  min-width: 130px;
}

.fhir-ui__Value .fhir-ui__Value {
  display: flex;
  gap: 10px;
}

.table-row {
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
  margin-bottom: 16px;

  ul {
    list-style: none;
  }
}
